/* Основні стилі */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #000000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* Хедер */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7vh;
}

.logo {
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
    left: 0;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #000000;
    font-size: 1em;
}

/* Основний контент */
.hero {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Центруємо текст */
}

.hero h1 {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
}

/* Бейсмент */
footer {
    text-align: center;
    margin-bottom: 7vh;
}

.footer-links a {
    text-decoration: none;
    color: #000000;
    font-size: 0.9em;
    margin: 0 10px;
}

/* Медіа-запити для адаптивності */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 6vw; /* Збільшуємо розмір шрифту на мобільних пристроях */
    }

    nav a {
        font-size: 0.9em; /* Зменшуємо шрифт у навігації для мобільних пристроїв */
        margin-left: 10px; /* Менші відступи між посиланнями */
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        font-size: 1.2em; /* Зменшуємо розмір логотипу на менших екранах */
    }

    nav {
        margin-top: 10px;
    }

    .hero h1 {
        font-size: 8vw; /* Робимо заголовок ще більшим на маленьких екранах */
    }

    .footer-links a {
        font-size: 0.8em; /* Зменшуємо шрифт у футері для маленьких екранів */
        margin: 5px; /* Зменшуємо відступи між посиланнями у футері */
        display: block; /* Відображаємо посилання у футері вертикально */
    }
}